html{
    font-size: 0.6em;
}

body{
    margin: 0;
    padding: 10px;
    padding-top: 20px;
    font-family: sans-serif;
    font-size: 1rem;
    counter-reset: #444444;
    max-width: 1200px;
    margin: auto;
}

h1,h2,h3,h4,h5,h6{
    font-family: sans-serif;
    font-weight: 600;
    color: #222222;
}